<div class="container-fluid">
    <div class="col-md-12 profileCard">
        <div class="profileCard1">
            <div class="pImg">
               <img class="group list-group-image" src="http://placehold.it/300x150/" alt="" />
            </div>
            <div class="pDes">
            	<div class="btn-group-sm">
	            	<a ui-sref="app.clientes" class="btn btn-primary btn-fab flex-center pull-left">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					</a>
            	</div>
                <h1 class="text-center">Nombre en Clientes</h1>
				
				<div class="container-fluid">
					<div class="col-md-12">
						<div class="row-fluid">

						    <div class="col-md-6">
						    		<h2 class="text-center">Nueva Cita</h2>
					      	    	<form class="form-page" data-bind="submit: $parent.saveClient" _lpchecked="1">
							            <fieldset>
							                <div class="col-md-12">
							                    <label for="frm-client-email">Correo electrónico</label>

							                    <div class="input-block">
							                        <input  class="form-control" id="frm-client-email" type="text"  placeholder="johndoe@gmail.com" >
							                    </div>
							                </div>
							                <div class="col-md-12">
							                    <label for="frm-client-name">Nombre</label>

							                    <div class="input-block">
							                        <input  class="form-control" id="frm-client-name" type="text"  placeholder="Clien" >
							                    </div>
							                </div>
							                <div class="col-md-12">
							                    <label for="frm-client-phone">Teléfono</label>

							                    <div class="input-block">
							                        <input  class="form-control" id="frm-client-phone" type="text" placeholder="3107528273" >
							                    </div>
							                </div>

							                <div class="col-md-12">
							                    <label for="frm-client-address">Dirección</label>
							                    <div class="input-block">
							                        <input  class="form-control" id="frm-client-address" type="text" ></input>
							                    </div>
							                </div>
							                <div class="col-md-12 last">
							                    <label for="frm-client-note">Nota</label>
							                    <div class="input-block">
							                        <textarea  class="form-control" id="frm-client-note" type="text" maxlength="1000"></textarea><span class="character-counter">1000 caracteres más</span>
							                    </div>
							                </div>
							            </fieldset>
							        </form>
						    </div>
						    <div class="col-md-6">
								<h2 class="text-center">Citas</h2>
								<div class="container-fluid" >
									<div class="list-group">
										<a href="#" class="list-group-item">
											<div class="col-sm-2">
												<button href="javascript:void(0)" class="btn btn-primary btn-fab flex-center">
													<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
												</button>
											</div>
											<div class="col-sm-10">
												<h4 class="list-group-item-heading">List group item heading</h4> 
												<p class="list-group-item-text">
												Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

												</p> 
												
											</div> 
										</a>
										<div class="list-group-separator"></div>
										<a href="#" class="list-group-item">
											<div class="col-sm-2">
												<button href="javascript:void(0)" class="btn btn-primary btn-fab flex-center">
													<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
												</button>
											</div>
											<div class="col-sm-10">
												<h4 class="list-group-item-heading">List group item heading</h4> 
												<p class="list-group-item-text">
												Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

												</p> 
												
											</div> 
										</a>
										<div class="list-group-separator"></div>
										<a href="#" class="list-group-item">
											<div class="col-sm-2">
												<button href="javascript:void(0)" class="btn btn-primary btn-fab flex-center">
													<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
												</button>
											</div>
											<div class="col-sm-10">
												<h4 class="list-group-item-heading">List group item heading</h4> 
												<p class="list-group-item-text">
												Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

												</p> 
												
											</div> 
										</a>
									</div>
								</div>
							</div>
					    </div>
					</div>
				</div>

            </div>
        </div>
    </div> <!--End-->
</div>